body {
  font-family: 'Space Mono', monospace;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 0.5rem 0.8rem;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 2px;
}

label.primary {
  display: block;
  margin: 4px 0;
}


button, input[type="submit"] {
  margin-top: 2px;
}

#star-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
}

.star-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 3px solid #000000;
  border-radius: 5%;
  background: rgba(250, 250, 65, .4)
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-end;
}
.item {
  margin: 5px;
}

{
   box-sizing: border-box;
}
html, body, div, img {
   margin: 10;
   padding: 5;
   border: 5;
   font-size: 110%;
   font: inherit;
   vertical-align: baseline;
}
body {
   line-height: 1.5;
}
